* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrap {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}

header {
    position: relative;
}


nav {
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* height: 50px; */
    padding: 0;
    position: fixed;
    background-color: white;
    box-shadow: -1px 10px 15px -8px rgba(0, 0, 0, 0.75);
}

nav .logo,
nav input {
    margin: 10px;
    padding: 10px;
}

nav .logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    color: #FFAE00;
}

nav input {
    border: none;
    padding-top: 20px;
    border-bottom: 2px solid #FFAE00;
    width: 200px;
    transition: .5s ease;
}

nav input:focus {
    outline: none;
    width: 300px;
    transition: .5s ease;
}

.middle,
.alertBox {
    width: 100%;
}

.articles,
.middle,
.alertBox {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.articles {
    margin-top: 100px;
}

.article {
    flex-basis: 20%;
    margin: 15px;
}

.card-header {
    text-align: left;
    padding: 0 0 10px 30px;
}

.card-header h1 {
    font-size: 1.2rem;
    text-align: left;
    display: inline;
}

.card-header span {
    width: 50%;
    text-align: right;
}


.loader {
    width: 100%;
    padding: 40px 0;
}

.loader div {
    background-color: red;
    height: 20px;
    width: 20px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 0.7s infinite ease-in-out;
}

.loader div:nth-child(1) {
    animation-delay: -0.6s;
}

.loader div:nth-child(2) {
    animation-delay: -0.5s;
}

.loader div:nth-child(3) {
    animation-delay: -0.4s;
}


@keyframes bounce {

    0%,
    40%,
    100% {
        transform: translateY(-10px);
    }

    20% {
        transform: translateY(-20px);
    }
}

.hide {
    visibility: hidden;
    height: 0;
}

.wrap .more {
    border-radius: 15px;
    color: #000000;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 100;
    padding: 22px;
    background-color: #FFFFFF;
    border: solid #FFAE00 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.wrap .more:hover {
    background-color: #FFAE00;
    color: #FFFFFF;
}

.wrap.more:focus {
    outline-color: white;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 700px) {
    nav {
        padding: 0 100px;
    }
    nav .logo {
        font-size: 1.2rem;
    }
}
@media only screen and (man-width: 400px) {
    .articles {
        margin-top: 100px;
    }
}




@media only screen and (max-width: 1600px) {
    .wrap {
        width: 100vw;
    }
}